.header{
    /* background-color: #3F51B5; */
    background-color: black;
    /* padding: 1rem; */
}

.header_container{
    display: flex;
    justify-content: center;
}

.header_logo{
    font-size: 50px;
}