.WallpaperBox_container{
    width: 200px;
    height: 400px;
    border-radius: 0.5rem;
    border: solid 1px white;
    position: relative;
}
.WallpaperBox_container:hover .WallpaperBox_downloadBtn{
    display: block;
}
.WallpaperBox_container:hover .WallpaperBox_favoriteBtn{
    display: block;
}
.WallpaperBox_container:hover .WallpaperBox_favoriteBtn_selected{
    display: block;
}

.WallpaperBox_img{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;

}

.WallpaperBox_downloadBtn{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    border: solid 2px white;
    color: white;
    opacity: 70%;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 0.5rem;
    display: none;
    transition: all 400ms ease;
}
.WallpaperBox_downloadBtn:hover{
    opacity: 100%;
}

.WallpaperBox_favoriteBtn{
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    border: solid 2px white;
    color: white;
    opacity: 70%;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    display: none;
    transition: all 400ms ease;
}
.WallpaperBox_favoriteBtn:hover{
    opacity: 100%;
}

.WallpaperBox_favoriteBtn_selected{
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    border: solid 2px red;
    color: red;
    opacity: 70%;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    display: none;
    transition: all 400ms ease;
}
.WallpaperBox_favoriteBtn_selected:hover{
    opacity: 100%;
}